

# This snippet should be appended to the end of your .bashrc
# Quick and dirty:
#   cat djet.bashrc.snippet >> ~/.bashrc

# change the alias for "l"
alias l="ls -laF"

# A prettier prompt, goes at the end of the .bashrc file
export PS1="[\[\033[0;36m\w\[\033[0m]\n[\t \u]$ "

# or [1;34m
